<!--Navbar responsive  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://donweb.com/es-ar/" target="_blank">  <img src=" assets/img/donWeb.png" alt="" class="LogoNav" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 70%;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/carrito']">Carrito</a>
      </li>
    </ul>

  </div>
</nav>