/* @media (min-width: 1000px) { */
.container {
    height: 100%;
    max-width: 1000px;
}

.row {
    height: 100%;
}

h1,
h2 {
    font-weight: 300;
    font-size: 2.3em;
    margin-bottom: 1em;
}

h1 strong,
h2 strong {
    font-weight: 600
}

p {
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
}

p strong {
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

.btn-cta {
    color: #6c757d;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 2em;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #6c757d;
    border-radius: 5px;
    display: inline-block;
    transition: .2s all;
}

.btn-cta:hover {
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
}

nav {
    background-color: #363a43;
    height: 60px;
}

header {
    background-image: url('src/assets/img/header-bg.jpg');
    min-height: 250px;;
    background-position: center;
    background-size: cover;
    height: 89vh;
    z-index: 1;
}

section {
    padding: 5em 0;
}

footer {
    background-color: #1e1e1e;
    height: 200px;
}

.LogoFooter {
    width: 25%;
    height: auto;
    margin: 10.3% auto;
}

.LogoFooterSM{
    width: 58%;
    text-align: center;
    height: auto;
    margin: 12.3% auto;
    margin-left: 22%;
}

.LogoGoogleNegocio {
    width: 30%;
    height: auto;
    margin: 4.3% auto;
}

/* .gradiente{
    background: linear-gradient(to bottom, rgba(255, 255, 255), rgb(255, 255, 255));
    position: relative;
} */

.phone{
    position: absolute;
    top: 217px;
    right: 20px;
    z-index: 3;
    width: 30%;
}

.header-desktop{
    width: 120%!important;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 123%;
}

.phone-content{
    position: absolute;
    top: 260px;
    right: 37px;
    width: 24%;
    z-index: 4;
}


.footer-desktop{
    position: absolute;
    width: 80%!important;
    bottom: 0px;
    left: 10%;
    z-index: 1;
}

.mobile-footer{
    position: absolute;
    bottom: 0px;
    left: 5%;
    width:26%!important;
    z-index: 2;
}
    /* } */