<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <title>Google Mi Negocio | Donweb Argentina</title>

  <!-- <link rel="stylesheet" href="assets/css/thirdparty/bootstrap.4.1.1.min.css" /> -->
  <!-- <link rel="stylesheet" href="assets/css/index.css" /> -->
</head>

<body>
  <!-- <nav>
        <div class="container">
            <img src=" assets/img/donWeb.png" alt="" class="LogoNav" />
        </div>
    </nav> -->
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5" style="
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 78.666667%; z-index: 1;">
          <div>
            <img src=" assets/img/googleNegocio.png" alt="" class="LogoGoogleNegocio" />
          </div>
          <h1>
            <strong>Atrae nuevos clientes</strong> con las búsquedas de Google y de Google Maps.
          </h1>

          <p>
            Creamos tu perfil en <strong>Google Mi Negocio</strong> con los datos de contacto, logos, fotos e
            información relevante. Tu negocio se destacará cuando busquen tu empresa o rubro.
          </p>
        </div>
        <div class="col-md-7">
          <img src="assets/img/header-desktop.png" alt="" class="header-desktop">
            <img src="assets/img/header-mobile.png" class="phone" alt="">  
            <img src="assets/img/header-mobile-content-1.jpg" class="phone-content" alt="">    
        </div>
      </div>

    </div>

  </header>

  <section class="gradiente">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="assets/img/section-img-1.jpg" alt="Brinda información útil a tus clientes" />
        </div>

        <div class="col-md-6">
          <h2>
            Brinda información
            <br />
            <strong>Útil a tus clientes</strong>
          </h2>

          <p>
            Genera una experiencia de usuario superior, facilitando a tus clientes el contacto contigo y el acceso a
            toda tu información en el momento preciso que la necesitan.
          </p>

          <p>
            Con <strong>Google Mi Negocio,</strong> los datos de tu negocio (teléfono, horarios, dirección, etc.) estará
            al alcance de la mano de tus clientes.
          </p>

          <a [routerLink]="['/carrito']" routerLinkActive="router-link-active" class="btn-cta">
            Comienza Hoy
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2>
            Comparte novedades
            <br />
            <strong>para impulsar tu negocio</strong>
          </h2>

          <p>
            Publica tus noticias, promociones, lanzamientos, eventosy hasta invitaciones a leer un post en tu blog. Todo
            sirve para lograr que aquellos que te encontraron, interactúen contigo.
          </p>

          <a [routerLink]="['/carrito']" routerLinkActive="router-link-active" class="btn-cta">
            Comienza Hoy
          </a>
        </div>

        <div class="col-md-6">
          <img src="assets/img/section-img-2.jpg" alt="Brinda información útil a tus clientes" />
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #007bff;">
    <div class="container">
      <div class="row align-items-center">
        <div class="text-center col-md-12">
          <h1 style="color: white; font-weight: 300;"><strong>Lo hacemos por ti</strong>
          </h1>
          <p style="color:white">Al contratarnos para que hagamos tu Página Web o Tienda Online crearemos el <br> perfil
            de tu empresa en <strong>Google Mi Negocio </strong> de forma gratuita.</p>
          <a [routerLink]="['/carrito']" routerLinkActive="router-link-active" class="btn btn-success mt-3 p-3"
            style="font-size: 1rem;"> COMIENZA HOY</a>
            <div>
              <img src="assets/img/footer-desktop.png" alt="" class="img-fluid mt-5 footer-desktop">
              <img src=" assets/img/footer-mobile.png " alt=" " class="mobile-footer"/>
          </div>

        </div>
      </div>
    </div>
  </section>

  <footer >
    <div class="container" style="margin-top: -8%;">
      <img src=" assets/img/donWeb.png " alt=" " class="LogoFooter "/>
    </div>
  </footer>

  <!-- <script src="assets/js/thirdparty/jquery.3.3.1.min.js "></script> -->
  <!-- <script src="assets/js/index.js "></script> -->
</body>

</html>